.block {
    background-color: #eee;
    border: 1px solid #ccc;
}
img{
    max-width: 100%;
    height: auto;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #eee;
}
.btn-primary{
    background-color: #ff7c7c;
    border-color: #ff4848;
}